files:
  "/var/proxy/staging/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name booking-app.us-east-1.elasticbeanstalk.com;

          ssl_certificate /etc/letsencrypt/live/booking-app.us-east-1.elasticbeanstalk.com/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/booking-app.us-east-1.elasticbeanstalk.com/privkey.pem;

          location / {
              proxy_pass http://127.0.0.1:5000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }

container_commands:
  01_copy_nginx_conf:
    command: "cp -f /var/proxy/staging/nginx/conf.d/https_redirect.conf /var/proxy/live/nginx/conf.d/ && systemctl restart nginx"
